[Desktop Entry]
Name=autopsy
Encoding=UTF-8
Exec=sh -c "autopsy;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-forensics;
X-Kali-Package=autopsy
