[Desktop Entry]
Name=maltego
Encoding=UTF-8
Exec=sh -c "maltego"
Icon=maltego.png
StartupNotify=false
Terminal=false
Type=Application
Categories=01-info-gathering;
X-Kali-Package=maltego
