[Desktop Entry]
Name=burpsuite
Encoding=UTF-8
Exec=sh -c "java -jar /usr/bin/burpsuite"
Icon=burp.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-web-applications;
X-Kali-Package=burpsuite
