[Desktop Entry]
Name=maltego
Encoding=UTF-8
Exec=sh -c "maltego"
Icon=kali-maltego.png
StartupNotify=false
Terminal=false
Type=Application
Categories=01-info-gathering;01-07-osint-analysis;
X-Kali-Package=maltego
