[Desktop Entry]
Name=dradis framework
Encoding=UTF-8
Exec=sh -c "dradis;${SHELL:-bash}"
Icon=kali-dradis.png
StartupNotify=false
Terminal=false
Type=Application
Categories=12-reporting;
X-Kali-Package=dradis
