[Desktop Entry]
Name=galleta
Encoding=UTF-8
Exec=sh -c "galleta;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-forensics;
X-Kali-Package=galleta
