[Desktop Entry]
Name=binwalk
Encoding=UTF-8
Exec=sh -c "binwalk -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-forensics;
X-Kali-Package=binwalk
