[Desktop Entry]
Name=owasp-zap
Encoding=UTF-8
Exec=sh -c "zaproxy"
Icon=kali-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-web-applications;
X-Kali-Package=zaproxy
