[Desktop Entry]
Name=faraday IDE
Encoding=UTF-8
Exec=sh -c "python-faraday;${SHELL:-bash}"
Icon=faraday.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-exploitation-tools;12-reporting;
X-Kali-Package=python-faraday
