[Desktop Entry]
Name=gqrx
Encoding=UTF-8
Exec=sh -c "gqrx"
Icon=kali-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-05-radio-tools;
X-Kali-Package=gqrx
