[Desktop Entry]
Name=ssdeep
Encoding=UTF-8
Exec=sh -c "ssdeep -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-06-forensic-hashing-tools;
X-Kali-Package=ssdeep
