[Desktop Entry]
Name=inguma
Encoding=UTF-8
Exec=sh -c "inguma;${SHELL:-bash}"
Icon=kali-inguma-ginguma.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-exploitation-tools;
X-Kali-Package=inguma
